<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>

<body>
    <div class="container">
        <p class="fs-3 mt-4">Consultar - Agendamento de Potenciais Clientes</p>
        <p class="fs-6">Sistema utilizado para agendamento de serviços.</p>
        <div class="table-responsive mt-4">
            <table class="table align-middle table-sm">
            <thead class="table-primary text-center">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Origem</th>
                    <th>Data de contato</th>
                    <th>Observação</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
        </div>
        
    </div>
</body>

</html>